<html>
    <head>
      {% if title %}
      <title>{{ title }} - Booking</title>
      {% else %}
      <title>Welcome to Booking</title>
      {% endif %}
    </head>
    <body>
        <div>
			Booking: 
			<a href="/index">Home</a>
			<a href="/login">Login</a>
		</div>
        <hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<u1>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</u1>
		{% endif %}
		{% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>